@import '@material/typography/mdc-typography';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/list/mdc-list';
@import '@material/icon-button/mdc-icon-button';

@import 'themes/akyinkyin/theme';

a {
  &.svg-sprite {
    &:active,
    &:hover,
    &:link,
    &:visited {
      color: $akyinkyin-base;
      display: inline-block;
      margin: 1rem;
      text-decoration: none;
    }
  }
}

svg {
  &.svg-sprite {
    fill: currentColor;
    height: 24px;
    width: 24px;
  }

  &.svg-sprite:hover {
    fill: $akyinkyin-light-tint;
  }
}

main {
  margin-top: 32rem;

  .entry.extract {
    h3 {
      margin-bottom: 0;
    }
    p {
      background-color: $akyinkyin-light-text;
      padding: 1rem;
    }
  }
}
