a {
    &.index {
        &:active,
        &:link,
        &:visited {
            color: $akyinkyin-light-tint;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
            text-decoration-color: $akyinkyin-base;
        }
    }
}
