@import './palette';

$mdc-typography-font-family: unquote('"Segoe UI", Roboto, "Helvetica Neue", sans-serif');

// $akyinkyin-primary: mat-palette($mat-akyinkyin-green, 500);
// $akyinkyin-accent: mat-palette($mat-akyinkyin-green, A200, A100, A400);
// $akyinkyin-warn: mat-palette($mat-red);
// $akyinkyin-theme: mat-dark-theme(
//     $akyinkyin-primary,
//     $akyinkyin-accent,
//     $akyinkyin-warn
// );

a {
    &.index {
        &:active,
        &:link,
        &:visited {
            color: $akyinkyin-light-tint;
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
            text-decoration-color: $akyinkyin-base;
        }
    }
}
