header {
    a {
        &.material-icons {
            &:active,
            &:hover,
            &:link,
            &:visited {
                color: $akyinkyin-base;
            }
        }
    }
}

main {
    .entry.mdc-typography--body1 {
        background-color: $akyinkyin-light-text;
        border-radius: 0.5em;
        color: #000;
        margin: 1.5em auto;
        max-width: 70em;
        width: 90%;
        padding: 2em;

        & > .entry-date {
            position: relative;

            & > span {
                display: inline-block;
                margin: 0 0.5em;
                vertical-align: top;
            }

            & div[data-tweet] {
                display: inline-block;
            }
        }

        & .Callout {
            background-color: #660b00;
            color: #fff5ee;
            font-size: 2em;
            margin: inherit auto 1em;
            padding: 0.5em;
            text-align: left;
            max-width: 75%;
        }

        & .Note {
            background-color: #cf0;
            margin: inherit auto 1em;
            padding: 0.5em;
            text-align: left;

            & > p {
                margin: 0;
                margin: 1em inherit;
            }

            acronym {
                cursor: help;
            }
        }

        & p {
            margin-top: 1.5em;
        }

        & p > img:not([style]),
        & p > a > img:not([style]) {
            display: block;
            margin: 0 auto;
        }

        & ul {
            list-style-type: square;
            margin-left: 3em;
            margin-top: 1.5em;

            li {
                margin-bottom: 0.5em;
            }
        }

        & img {
            max-width: 90%;
        }

        & blockquote,
        & .Quote {
            background-color: #eaeaea;
            border-left: 10px solid #b21300;
            margin: 1.5em auto 1em auto;
            max-width: 75%;
            padding: 0.25em;
            text-align: left;
        }

        & blockquote p,
        & .Quote p {
            margin: 1.5em;
        }

        & sup {
            font-size: 1em;
        }

        & sup.CleanXhtmlFootnoteReference {
            background-color: #eaeaea;
        }

        & .WordWalkingStickTable {
            border: 2px solid #063;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1.5em;
            width: 90%;

            & th,
            td {
                padding: 0.25em;
                vertical-align: top;
                p {
                    margin: 0.25em;
                }
            }
            th {
                background-color: #063;
                color: #fff5ee;
                font-weight: 700;
            }
            td {
                border-top: 1px solid #063;
            }
        }
    }
}
