main {
    .entries {
        .mdc-list-item,
        .pagination {
            & > a {
                &:active,
                &:hover,
                &:link,
                &:visited {
                    color: $akyinkyin-light-tint;
                    display: inline-block;
                    margin: 1rem;
                    text-decoration: none;
                }
            }
        }

        .pagination {
            & > a {
                &:hover {
                    background-color: $greys-dark-tone;
                }
            }

            &.controls {
                position: fixed;
                width: 100%;
                z-index: 1;
            }

            .position {
                color: $greys-dark-tone;
            }
        }
    }
}

ul.pagination {
    padding-top: 4rem;

    li.header {
        color: $greys-dark-tone;
        padding-top: 12rem; /* FUNKYKB: this value is large because of this: https://stackoverflow.com/a/13117744/22944 */
    }

    &::-webkit-scrollbar {
        background-color: $greys-dark-tone;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $akyinkyin-light-tone;
    }

    height: 70vh;
    overflow-y: auto;
}
